.search-page {
  max-width: 700px;
  margin: 2rem auto;
}

.search-header {
  background-color: #561ba3 !important;
  color: white !important;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.search-page .card-body {
  background-color: white;
  padding: 2rem;
}

button[type="submit"] {
  background-color: #561ba3;
  border: none;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #7e3fcf;
}

body {
  background-color: #f3e5f9;
}

.alert {
  border-radius: 10px;
  font-size: 0.9rem;
}
